.ui-autocomplete {
    background: @panel-background-color;
    font-family: inherit;
    padding: 0px;
    .ui-state-focus {
        a {
            background-color: @primary-color !important;
            color: @border-line-color !important;
        }
    }
    .ui-menu-item {
        > a {
            // color: @autocomplete-menu-item-color;
            &:hover {
                color: @autocomplete-menu-item-hover-color !important;
            }
        }
        &:hover {
            // background: @autocomplete-menu-item-hover-background-color;
            // color: @autocomplete-menu-item-hover-color !important;
            background-color: @dropdown-menu-item-background-hover-color !important;
        }
        &.o_m2o_dropdown_option {
            padding-left: 0px;
            color: @border-line-color;
            > a {
                color: @orange !important;
                &:hover {
                    color: @border-line-color;
                }
            }
        }
    }
}