.ui-autocomplete {
    background: @border-line-color;
    font-family: inherit;
    padding: 0px;
    .ui-state-focus {
        a {
            background-color: @primary-color !important;
        }
    }
    .ui-menu-item {
        > a {
            color: @title-color; 
        }
        &.o_m2o_dropdown_option {
            padding-left: 0px;
            color: @border-line-color;
            > a {
                color: @orange !important;
            }
        }
	&.ui-state-focus > a,
	&.ui-state-focus.o_m2o_dropdown_option > a {
	    color: @border-line-color;
	}
    }
}