.o_kanban_view {
    .oe_kanban_color_0 {
        background-color: @kanban-color-0-background-color;
        color: @orange !important;
    }
    .o_kanban_record {
        border-color: @border-line-color !important;
        box-shadow: none !important;
        background-color: @kanban-record-background-color !important;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        &:hover {
            border-color: @kanban-record-hover-border-color;
            background-color: @kanban-record-hover-background-color !important;
            color: @kanban-record-hover-color !important;
        }
    }
    .o_kanban_quick_create {
        padding: 8px 8px;
        border: 1px solid @border-line-color;
        background-color: @kanban-quick-create-background-color !important;
        .oe_kanban_details {
            color: @modal-body-color;
        }
    }
    &.o_kanban_dashboard.o_kanban_ungrouped {
        a:hover {
            color: @primary-color !important;
        }
        .o_kanban_card_header {
            background-color: @border-line-color;
            .o_kanban_card_header_title {
                .o_primary {
                    color: @title-color;
                }
            }
        }
        .o_kanban_card_content {
            .o_kanban_primary_bottom {
                background-color: @border-line-color;
            }
        }
        .o_kanban_card_manage_title {
            border-color: inherit;
        }
    }
    .oeh_medical_details {
        a {
            color: @primary-color;
        }
    }
}