.modal {
    .modal-content {
        border-radius: 0;
        background-color: @form-sheet-background;
        .modal-header {
            background: @modal-header-background;
            border-bottom-color: @border-line-color;
            .close {
                color: @primary-color;
                opacity: inherit;
                text-shadow: 0 1px 0 @primary-color;
            }
            .modal-title {
                color: @modal-title-color;
            }
            .o_subtitle {
                margin-left: 10px;
            }
        }
        .o_error_detail {
            pre {
                color: @primary-color;
                background: transparent;
                border: 1px solid @border-line-color;
            }
        }
        .modal-body {
            color: @primary-color;
            background: @modal-body-background;
            .oe_form_box_info {
                background-color: @secondary-color;
                color: @title-color;
            }
            .o_kanban_view {
                .o_kanban_record, 
                .o_kanban_quick_create {
                    .oe_kanban_details {
                        color: @title-color;
                    }
                }
            }
            .o_form_sheet {
                background: @modal-body-background !important;
                .nav-tabs {
                    > li.active > a {
                        border-bottom: 1px solid @modal-body-background !important
                    }
                }
            }
            .table {
                padding: 10px 10px;
                color: @field-color;
                tbody {
                    tr:hover {
                        td {
                            color: @orange;
                            border-bottom: 1px dotted @primary-color !important;
                            border-top: 1px dotted @primary-color !important;
                        }
                        
                    }
                }
            }
            .table tfoot tr td {
                border-top-color: @border-line-color;
                border-bottom-color: @border-line-color;
            }
            .panel-heading {
                background-color: @form-sheet-background;
                border: 1px solid;
            }
            .note-editor {
                border: 1px solid @border-line-color;
                .panel-default {
                    > .panel-heading {
                        background: @panel-background-color;
                    }
                }
                .note-editable {
                    background: @form-sheet-background;
                    color: @form-input-color !important;
                    border: 1px solid @border-line-color;
                }
                .note-statusbar {
                    background: @panel-background-color;
                    color: @form-input-color !important;
                }
            }
            input {
                background: @input-background-color;
                border: 1px solid @border-line-color;
                color: @input-color;
                &:focus,
                &:hover {
                    transition: @input-transition;
                    border-color: @primary-color !important;
                }
            }
            &.o_act_window {
                padding: 0;
            }

            .o_modal_header {
                .o-webclient-padding(@top: 10px, @bottom: 10px);
                .clearfix();

                .o_search_options {
                    display: inline-block;
                }
                .o_pager {
                    float: right;
                }
            }

            .o_view_manager_content {
                position: static;  // Reset position for view managers in modals (default value: absolute)
            }
        }

        .modal-footer {
            text-align: left;
            background: @modal-footer-background;
            border-top-color: @border-line-color;
        }
    }
    

    @media (min-width: @screen-sm-min) {
        .modal-dialog {
            height: 100%;
            padding: 30px 0;
            margin: 0 auto;

            .modal-content {
                max-height: 100%;
                .o-flex-display();
                .o-flex-flow(column, nowrap);

                .modal-header, .modal-footer {
                    .o-flex(0, 0, auto);
                }

                .modal-body {
                    overflow: auto;
                    // fix iOS issue https://github.com/scottjehl/Device-Bugs/issues/8
                    -webkit-transform: translate3d(0, 0, 0);
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .modal-dialog {
            height: 100%;
            padding: 0;
            margin: 0 auto;

            .table-responsive {
                width: 100%;
                margin-bottom: 13.5px;
                overflow-y: hidden;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                border: 1px solid @border-line-color;
            }
        }
    }
}
