.nav > li > {
    a:hover,
    a:focus {
        background-color: transparent;
        color: @secondary-color;
        border-top: 1px solid @primary-color !important;
        border-bottom: 1px solid @panel-background-color;
        border-left: 1px solid @border-line-color;
        border-right: 1px solid @border-line-color;
    }
    a {
        color: @primary-color !important;
    }
}
.tab-content {
    padding: 15px 15px 5px;
    background-color: @tab-content-background-color !important;
    border-right: 1px solid @border-line-color;
    border-left: 1px solid @border-line-color;
    > .active {
        padding: 0 10px;
    }
    // .nav-tabs {
    //     border-bottom: 1px solid @border-line-color !important;
    // }
    .nav {
        li {
            > a {
                &:focus,
                &:hover {
                    background: red !important;
                }
            }
        }
        .nav-tabs {
            border-left: 1px solid @border-line-color;
            border-right: 1px solid @border-line-color;
            border-bottom: 1px solid @border-line-color !important;
            > li {
                > a {
                    color: @primary-color;
                    &:hover,
                    &:focus {
                        color: @secondary-color;
                        border-color: transparent;
                        border-bottom: 1px solid @tab-content-background-color !important;
                    }
                }
            }
        }
    }
}
.nav-tabs {
    border-bottom: 1px solid @border-line-color;
    position: relative;
    > li {
        a:hover,
        a:active {
            border-bottom: 1px solid @tab-content-background-color !important;
        }
    }
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: @tab-content-background-color !important;
  border-bottom-color: @tab-content-background-color !important;
}
.nav-tabs > li.active > a {
  cursor: default;
}
.nav-tabs .open > a,
.nav-tabs .open > a:focus,
.nav-tabs .open > a:hover {
  border-color: transparent;
  background-color: inherit;
}